<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>True or false quiz 2.0</title>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
<link rel="stylesheet" href="../public/css/oxquiz.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="grid">
    <div id="quiz" class="centered grid__col--8">
        <h1><%=title%></h1>
        <h2><%=content%></h2>
        <form action="/ox?pkey=<%pkey%> and id=<%id%>" method="POST">
      <button style="width:300px; height:200px; font-size: 30px;"id="guess0" class="btn--default" onclick="window.location.href='/ox?pkey=<%pkey%> and id=<%id+1%>'" value="0" name="answer">Yes</button>
      <button style="width:300px; height:200px;font-size: 30px;" id="guess1" class="btn--default" onclick="window.location.href='/ox?pkey=<%pkey%> and id=<%id+1%>'" value="1" name="answer">No</button>
      </form>
    </div>
</div>
<!-- partial -->
  <script  src="../public/src/oxquiz.js"></script>
</body>
</html>
